<body class="user-container">    
    <%= render 'shared/user_box', user: @user %>
        
    <section class="bio">
      <div class = "flex-column">
        <h3 class="fs-3">Bio :</h3>  
        <p><%= @user.bio %></p>
      </div>
    </section>

    <%= render 'shared/post_preview',  user: @user, with_comments:false%>
    <a class="td-none flex-row-middle button"  href="<%=@user.id%>/posts">See all posts</a>
</body>