<section>
  <h1>Posts</h1>

  <%= render 'shared/user_box', user: @user %>
  <%= render 'shared/post_preview',  user: @user, with_comments: true%>
  
  <% if @posts.length > 3 %>
    <button class="td-none flex-row-middle button">
      Pagination
    </button>
  <% end %>
</section>